
@media (min-width: 480px) and (max-width: 699px){/* for mobile  */ 

.box1{
    background-color: rgb(206, 96, 142);
}
.box2{
    background-color: rgba(145, 91, 233, 0.582);
  
} 
.box3{
    background-color: rgba(194, 38, 129, 0.938);
}
.box4{
    background-color: rgb(245, 19, 105);
  
}
.box5{
    background-color: rgb(195, 211, 202);
   
}
.box6{
    background-color: rgb(32, 122, 182);
}
.box7{
    background-color: rgb(152, 83, 158);
}
.box8{
    background-color: rgb(197, 106, 125);
}
.box9{
    background-color: rgb(88, 45, 128);
  
}
}

@media (min-width: 700px) and (max-width: 959px){    /* for Tablet */

   .box1 {
        background-color: #f05f0c;
        
    }
    
    .box2 {
        background-color: #74562f;
    }
    
    .box3 {
        background-color: #bb7f11;
    }
    
    .box4 {
        background-color: #81831b;
      
    }
    
    .box5 {
        background-color: #e61f18;
        
    }
    
    .box6 {
        background-color: #f8d122;
        
    }
    
    .box7 {
        background-color: #d95f5f;
    }
    
    .box8{
        background-color: #c48600;
    }
    
    .box9 {
        background-color: #b8a262;
    }

}

@media (min-width: 960px){/* for Desktop  */

    .box1{
        background-color: rgb(121, 182, 206);
    }
    .box2{
        background-color: rgba(86, 244, 255, 0.582);
      
    } 
    .box3{
        background-color: rgba(72, 44, 230, 0.938);
    }
    .box4{
        background-color: rgb(1, 116, 192);
      
    }
    .box5{
        background-color: rgb(195, 211, 202);
       
    }
    .box6{
        background-color: rgb(32, 122, 182);
    }
    .box7{
        background-color: rgb(139, 194, 211);
    }
    .box8{
        background-color: rgb(38, 62, 128);
    }
    .box9{
        background-color: rgb(42, 158, 167);
      
    }

}